
<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= username %></p>
<%- include('partials/navbar') %>
<!-- <a href="/users/logout" class="btn btn-secondary">Logout</a> -->

    <!-- FROM HERE -->
    <div class="container mt-5">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <% users.forEach((username)=> { %>
                        <tr>
                            <td><%= username.username %></td>
                            <td><%= username.email %></td>
                            <td>
                                <th>
                                    <a href="/delete/<%= username.id %>" class='link-warning'> Delete </a>
                                </th>
                            </td>
                        </tr>
                   <% }) %>
                </tbody>
            </table>
        </div>